<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Altravel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6489D4D1BE59BE6003D4435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6489D611BE59BE6003D4435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6489D6C1BE59BE6003D4435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
